<div class="mat-elevation-z8" *ngIf="products">
  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
      <td mat-cell *matCellDef="let row">{{row.descricao}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>
    <ng-container matColumnDef="estoque_min">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estoque Mínimo</th>
      <td mat-cell *matCellDef="let row">{{row.estoque_min}}</td>
    </ng-container>
    <ng-container matColumnDef="estoque_max">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estoque Máximo</th>
      <td mat-cell *matCellDef="let row">{{row.estoque_max}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="/products/update/{{ row.id }}" class="edit">
          <i class="material-icons ">edit</i></a>

        <a routerLink="/products/delete/{{ row.id }}" class="delete">
          <i class="material-icons">delete</i></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="50"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
